* {
    box-sizing: border-box;
    margin: 0%;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FAC017;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

main {
    padding-top: 100px
}

.header-box {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}


.logo-header {
    width: 14%;
}

.logo-header img {
    width: 100%;
}

.navbar-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar-box ul li {
    list-style-type: none;
    font-size: 19px;
}

.navbar-box ul li:last-child {
    color: white;
    padding: 13px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-back {
    background-color: black;
}

#jumboElement {
    background-color: #FAC017;
    height: 58vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbo-box {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbo-title h1 {
    font-size: 7.5em;
    margin-bottom: 40px;
    font-family: 'Spectral', Arial, Helvetica, sans-serif;
}

.jumbo-sub p {
    font-size: 1.8em;
}

.jumbo-sub {
    width: 45%;
    margin-bottom: 40px;
    font-weight: 300;
}

.jumbo-button button {
    background-color: black;
    color: white;
    padding: 5px 35px 5px 35px;
    font-size: 28px;
    border-radius: 35px;
}

#trendingElement {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    align-items: center;
    height: 50vh;
}

.trending-box {
    width: 75%;
}

.trending-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    width: 32.5%;
    margin-bottom: 30px;
}

.card-body {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding-top: 7px;
    padding-left: 18px;
}

.card-number {
    font-size: 2.5rem;
    color: #E6E7E7;
    font-weight: 600;
    height: 100%;
}

.card-user {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
}

.user-name {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.user-img img {
    width: 100%;
    border-radius: 50px;
}

.card-text {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.user-img {
    width: 30px;
    display: flex;
    justify-content: center;
}

.card-timing {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 17px;
    color: gray;
    gap: 13px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.post-content {
    width: 70%;
}

.post-box {
    width: 65%;
}

.post {
    display: flex;
    margin-bottom: 80px;
    gap: 30px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-preview {
    margin-top: 4px;
    color: gray;
    font-size: 20px;
}


.post-description {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-date {
    display: flex;
    align-items: center;
    gap: 6px;
}

.topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 3px;
}

.post-title h3 {
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 13px;
    padding-bottom: 13px;
}


.topic p {
    background-color: rgb(209, 209, 209);
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
}

.post-date p:nth-child(2) {
    padding-bottom: 6px;
}

.post-date p:nth-child(4) {
    padding-bottom: 6px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    flex-grow: 1;
}

.icons img:nth-child(2) {
    margin-left: 55px;
}

.img-post img {
    width: 100%;
}

.img-post {
    width: 30%;
}

#postElement {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.interest-box {
    padding-bottom: 40px;
    width: 25%;
}

.interest-title {
    font-weight: bold;
}

.interest-list {
    display: flex;
    gap: 8px 15px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

.interest {
    padding: 8px;
    border: 1px solid rgb(180, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(152, 152, 152);
}

.article-box {
    display: flex;
    justify-content: left;
}

.secondary-nav {
    width: 100%;
    margin-top: 20px;
}

.secondary-nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px 18px;
    padding-inline-start: 0px;
    font-size: 14px;
    margin-bottom: 25px;
}

.secondary-nav ul li {
    list-style-type: none;
    cursor: pointer;
}

.header-change {
    background-color: white;
}

.button-change {
    background-color: #1a8917;
}

.M {
    position: absolute;
    right: 0px;
    height: 100%;

}
